/backend/composer.lock
/backend/vendor
/backend/*.db
/backend/*.log
/backend/config/*.php
/backend/upload/
/backend/Entities/
!/backend/Entities/BaseEntity.php
!/backend/Entities/Dashboards/
!/backend/Entities/Endpoints/
!/backend/Entities/ModuleBuilder/
!/backend/Entities/Rawendpointdata/
!/backend/Entities/Tokens/
!/backend/Entities/Users/
!/backend/Entities/Saved_filters/
!/backend/Entities/Files/
/.idea
/frontend/node_modules/
/frontend/dist/
/frontend/*.log
/frontend/.env
/frontend/package-lock.json
/certs/
.vscode
