<div class="p-2 d-flex justify-content-between">
    <input type="search" placeholder="Search list..." id="{{ entity }}ListViewFilterSearch" class="form-control form-control-sm w-25">
    <button data-entity="{{ entity }}" class="btn btn-primary btn-sm list-create-button">Create</button>
</div>